
bak/snapserverconf.sh
bak/snapserver.sh
bak/snapfinish.sh
bak/snapclient.sh
bak/setTimeSync.sh
bak/mpdSetup.sh
bak/mpd.sh
bak/mountnas.sh
bak/install.sh
bak/btlSetup.sh
bak/btlInstall.sh
bak/autostartSetup.sh
scripts/res/snapserver/2_streams
scripts/res/mpd/8_rpgain
scripts/res/mpd/6_fifo
scripts/res/mpd/4_port
scripts/res/mpd/2_state
